body{
    background-color: yellow;
    text-align: center;
}
.selection-style{
    
}
.YES{
    text-align: left;
}
.section-style{
    text-align: left;
}
.OHHHH{
text-align: right;
}